.header {
    margin: 45px auto 0 auto;
    padding-bottom: 40px;
    max-width: 880px;
    min-height: 74px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: start;
}

@media all and (max-width: 320px) {
    .header {
        max-width: 320px;
        margin-top: 25px;
        padding-bottom: 26px;
    }
}

