.edit-form__close {
    position: absolute;
    right: -37px;
    top: -37px;
}

.edit-form__close:hover {
    opacity: 0.6;
}

@media all and (max-width: 540px) {
    .edit-form__close {
        right: 0px;
    }
}