.profile__intro {
    margin: 0;
    padding-left: 34px;
    max-width: 336px;
    min-height: 73px;
    display: grid;
    grid-template-columns: 294px max-content;
    grid-template-rows: max-content;
    grid-template-areas: 
    "jac edit-button"
    "research research";
    gap: 8px 17px;
    align-items: center;
}

@media all and (max-width: 520px) {
    .profile__intro {
        padding-top: 26px;
        grid-template-columns: 189px max-content;
        padding-left: 0;
        max-width: 282px;
        align-items: center;
        text-align: center;
        gap: 14px 10px;
    }
}